<div class="section_centered">

	 <div class="centered_title">
      <h2 style="font-family: Lobster; font-size: 50px"><%= I18n.t "gifts.main_title" %></h2>
   </div>

  <%= render 'form', gift: @gift %>

</div>
