<div class="section_centered">

	 <div class="centered_title">
      <h2><%= I18n.t "gifts.main_title" %></h2>
      <p class="under_title_descr"><span><%= I18n.t "gifts.desc" %></span></p>
   </div>

  <%= render 'form', gift: @gift %>

</div>
