<div class="section_centered">

	 <div class="centered_title">
      <h2>Give <span>a</span> Gift</h2>
      <p class="under_title_descr"><span>If you want to</span></p>
   </div>

  <%= render 'form', gift: @gift %>

</div>
