<div class="section_centered">
  <h1>Instructions for Visa</h1>

  <p>To get a visa, you must apply with the appropriate documents to the Russian Embassy in your country. Below are specific instructions for Norway and Great Britain.</p>

  <p>The Russian Embassy in Norway is located in Oslo. <br>The best place to apply for a visa is at the Russian Visa Center (<%= link_to 'http://www.ifs-norway.com', 'http://www.ifs-norway.com' %>). You do not need an appointment, but get there before 10 am to avoid a long wait. These are the documents you need to submit:</p>
  <ol>
    <li>You need to fill out and print out the <%= link_to 'Visa Application', 'https://visa.kdmid.ru/PetitionChoice.aspx?AspxAutoDetectCookieSupport=1' %></li>
    <li>Visa Invite - Usually provided by the Hotel or Hostel you're staying at</li>
    <li>Accomodation Booking Confirmation</li>
    <li>Passport picture</li>
    <li>Travel insurance documents</li>
  </ol>

</div>
