<tr>
  <td>
    <%= f.input_field :_destroy, as: :hidden %>
    <%= link_to 'Delete', '#', class: 'remove_record' %>
  </td>
  <td><%= f.input :first_name, label: false %></td>
  <td><%= f.input :last_name, label: false %></td>
</tr>
