<div class="section_centered">

	 <div class="centered_title">
            <h2>SAVE <span>your</span> PLACE</h2>
            <p class="under_title_descr"><span>Répondez s'il vous plaît.</span></p>
         </div>

         <%= render 'form', rsvp: @rsvp %>

</div><!-- End of content-->
