<div class="section_centered">

	 <div class="centered_title">
     <h3>Thank you for saving your place! We look forward to seeing you on the 12th of August.</h3>
		 <center><%= image_tag 'weddingcrashers.gif' %></center>
  </div>

</div>
