<center><h2>Thank you for your <strong><%= @orig_amount %></strong> <%= @gift.currency %> gift!</h2></center>

<div style="margin: 30px 5px;">
  <center><img src="<%= @random_gif %>" style="max-width: 400px; width: 100%;"><br>
  <h3><%= link_to 'Get back', 'https://www.annierafid.com' %></h3></center>
</div>
